
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wpb_wrapper">
    <h2 style="color: #000;text-align: center; font-size:xx-large" class="vc_custom_heading mh-seo-section-title text-center">Trò Chơi Sáng Tạo Nhất</h2>
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p style="text-align: center; color: #000;">
                Mô hình kim loại 3D lắp ráp được quốc tế<br>
                công nhận là đồ chơi sáng tạo hấp dẫn nhất năm 2020.<br>
                Được lắp ráp từ những mảnh thép không gỉ với chi tiết sắc sảo, màu sắc trung thực, tinh tế,<br>
                mô hình thép 3D có độ bền cao còn giúp bạn rèn luyện tính kiên trì, tỉ mỉ và bình tĩnh<br>
                Art chuyên mô hình lắp ráp 3D kim loại cung cấp hơn 800 mô hình 3D kim loại từ những thương hiệu nổi tiếng:<br>
                Piececool, Metal Earth, MU Model, Microworld, Metal Works, Tenyo, Metal Mosaic… có nhiều chủ đề như tàu chiến, kiến trúc thế giới, xe tăng, máy bay, phi thuyền, rồng khủng long, gundam, transformers, starcraft…<br>
                Với đội ngũ giàu kinh nghiệm về mô hình 3D lắp ráp, chúng tôi tự tin sẽ mang lại cho bạn trải nghiệm tốt nhất khi mua sắm<br>
                Hãy thoả mãn đam mê lắp ráp, việc còn lại để Art lo
            </p>

        </div>
    </div>
</div>
