
@{
    ViewBag.Title = "Susscess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login">
    <div class="alert alert-success" style="margin-left:800px">
        Bạn vừa mua hàng thành công.
    </div>
</div>